
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

 body
 {
   margin: 0;
   padding: 0;
   margin-bottom: 1rem;
   font-family: 'Open Sans', sans-serif;
   /*color: #cdcdcd;*/
 }

 .name{
     font-size: 4rem;
     margin-top: 1rem;
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     color: white;
     background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;
     margin-bottom: 1rem;
 }

 .name:hover{
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;
 }

 .about-me{
    font-size: 2rem;
    letter-spacing: normal;
    margin-bottom:20px;
 }

 .header{
    padding-top:2rem;
 }

 nav{
     margin-bottom: 6rem;
 }

 .socialmedia{
   display: inline-block;
   max-width: 10%;
   margin-top:1rem;
   margin-right: 1rem;
 }

 .profile-pic{
     max-width: 80%;
     border-radius: 20rem;
     text-align: center;
     margin-left: 2rem;
 }

 .header{
   margin-bottom:5rem;
 }

 .bg{
  position: absolute;
  width: 100% ;
  height: 100vh ;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  object-fit: cover;
 }
.shade{
  position: absolute;
  width: 100% ;
  height: 100vh ;
  background-color: rgba(0, 0, 0, 0.648);
  object-fit: cover;
}