# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Logs & Environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.production
.DS_Store
